@model QuanLyCuaHangTapHoa.Models.PhieuNhapTra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhapTra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TongSoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSoTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongSoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
