@model IEnumerable<QuanLyCuaHangTapHoa.Models.PhieuNhapTra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TongSoTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongSoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPhieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPhieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieu })
        </td>
    </tr>
}

</table>
