@model IEnumerable<QuanLyCuaHangTapHoa.Models.ChiTietPhieuNhapTra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHangHoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuNhapTra.MaPhieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhaCungCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangHoa.TenHangHoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCungCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuNhapTra.MaPhieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
