@model QuanLyCuaHangTapHoa.Models.ChiTietBangGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietBangGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BangGia.MaBangGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BangGia.MaBangGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangHoa.TenHangHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangHoa.TenHangHoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
