@model IEnumerable<QuanLyCuaHangTapHoa.Models.ThongKeDoanhThu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenThongKe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DenNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoanhThu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenThongKe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuNgay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DenNgay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoanhThu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTKDT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTKDT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTKDT })
        </td>
    </tr>
}

</table>
