@model IEnumerable<QuanLyCuaHangTapHoa.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBanHang.cshtml";
}

<style>
    table {
        width: 95%;
        margin: 0 auto;
    }

    .hoadon {
        width: 95%;
    }

    table thead th {
        border: 2px solid black;
        padding: 0 8px;
    }

    table tbody td {
        background: #ffffff;
        padding: 8px;
        margin: 8px 0;
    }

    .tien, .sluong {
        text-align: center;
    }
</style>

<div class="hoadon">
    <div class="col-sm-5">
        <h3> Mã hoá đơn     : @Model.First().HoaDon.MaHD</h3>
        <h3> Tổng tiền      : @Model.First().HoaDon.TongTien</h3>
    </div>
    <div class="col-sm-5">
        <h3> Tiền khách đưa : @Model.First().HoaDon.TienKhachDua  </h3>
        <h3> Tiền trả khách : @Model.First().HoaDon.TienThoi  </h3>
    </div>


</div>
<table>
    <thead>
        <tr class="text-center ">
            <th class="ten">Tên hàng hoá</th>
            <th class="sluong">Số lượng</th>
            <th class="tien">Giá bán</th>            
            <th class="tien">Thuế</th>
            <th class="tien">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {           
        <tr>
            <td class="ten">@item.HangHoa.TenHangHoa</td>
            <td class="sluong">@item.SoLuong</td>
            <td class="tien">@item.GiaBan</td>
            <td class="tien">@item.MucThue</td>
            <td class="tien">@item.ThanhTien</td>
        </tr>
         }

    </tbody>

</table>
